@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GARAGE 2.0</h1>

    <div class="image">

        <img src="~/Content/parking.jpg" />

        <h5>Free parkingspots: @ViewBag.Parkingspots<br/><br />
        Parking price: @ViewBag.ParkingPrice kr/hour</h5>

    </div>
    </div>
